body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	border: 10px;
	vertical-align: baseline;
	line-height: 2.5em;
	background-color: #F1EAD0;
  background-attachment: fixed;
  width: 960px;
}

.div {
	font-size: 21px;
	font-family: helvetica, sans-serif;
}

.box {
  width: 60px;
  height:60px;
  margin: 30px 30px 20px 600px;
  float: right;
}

.one {
  background-color: #EB2221;
}

.two  {
  background-color: #F5791D;
}

.three  {
  background-color: #F8921E;
}

.four {
  background-color: #FBDB25;
}

.five {
  background-color: #AECD3F;
}

.six {
  background-color: #62BA4B;
}

.seven {
  background-color: #27AEE3;
}

.eight {
  background-color: #1E8ED7;
}

.nine {
  background-color: #1470BF;
}


.header div {
	font-size: 60px;
	padding: 0 50px 120px 50px;
	text-transform: uppercase;
	line-height: 1.5em;
	text-align: left;
	color: #1470BF;
	-webkit-transform: rotate(328deg);
  -moz-transform: rotate(328deg);
  -o-transform: rotate(328deg)
}

.place div {
	font-size: 30px;
	padding: 35px 50px 120px 50px;
	text-align: right;
	color: #62BA4B;
	-webkit-transform: rotate(328deg);
  -moz-transform: rotate(328deg);
  -o-transform: rotate(328deg)
}

.intr div {
	font-size: 20px;
  text-transform: uppercase;
	padding: 700px 200px 50px 10px;
	list-style-type: none;
	text-align: left;
	color: #FBDB25;
	-webkit-transform: rotate(343.5deg);
  -moz-transform: rotate(343.5deg);
  -o-transform: rotate(343.5deg)
} 

.list div{
	font-size: 33px;
	font-weight: bold;
	padding: 100px 20px 30px 20px;
	color: #F5791D;
  background-color: #F1EAD0;


  
}

.events div {
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
	padding:0 20px 30px 20px;
	color: #EB2221;
  background-color: #F1EAD0;
}



